apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: default
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: discord

    receivers:
    - name: discord
      webhook_configs:
      - url: "{{ discord_webhook_url }}"
        send_resolved: true