apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules
  namespace: default
data:
  rules.yml: |
    groups:
    - name: cat-server-alerts
      rules:
      - alert: CatServerDown
        expr: kube_deployment_status_replicas_available{deployment="cat-web-deployment"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "서버 다운 경보!"
          description: "cat-web 파드가 현재 실행 중이지 않습니다."

      - alert: HPAReplicasAtMax
        expr: kube_hpa_status_current_replicas{hpa="cat-web-hpa"} == kube_hpa_spec_max_replicas{hpa="cat-web-hpa"}
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "HPA 최대치 도달"
          description: "리소스 부하로 파드가 최대치({% raw %}{{ $value }}{% endraw %}개)까지 확장되었습니다."